*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right, #000000, #F72798);
}

.calculator-grid{
  display:grid;
  margin-top:2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows:minmax(7rem, auto) repeat(5,6rem);
  justify-content: center;

}

.span-two{
  grid-column:span 2 ;
}

.Output{
  grid-column: 1/ -1;
  background-color: rgba(255, 170, 128,.75);
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.Output .Previous{
color: rgba(255,255,255,.75);
font-size: 1.5rem;
width: 100%;
text-align: right;

}

.Output .Current{
 color: rgba(255,255,255,.75);
  font-size: 2.5rem;
  width:100%;
  text-align: right;

}

.calculator-grid button{
  cursor:pointer;
  font-size: 2rem;
  border:1px solid white;
  outline:none;
  background-color: rgba(255,255,255,.75);
}

.calculator-grid > button:hover,.calculator-grid:focus{
  background-color:rgba(255,255,255);
}


.footer {
  text-align: center;
  color:rgba(255, 170, 128,.75);
  padding: 10px 0;
  width: 100%;
}